<!DOCTYPE html>
<html>
<head>  
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<meta name="HandheldFriendly" content="true">
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/index.css">
<script src="/js/common.js"></script>
<script src="/js/index.js"></script>
<script src="/js/util/bodyScrollLock/bodyScrollLock.js"></script>
<title>띵언</title>
</head>
<body>
	<% include ./include/header.ejs %>
	<section class="section">
		<h1 class="hidden">인사말</h1>
		<p class="f-sub-title">당신의 한 문장이 누군가의 인생을 바꿉니다. 자신만의 멋진 명언을 공유해주세요.</p>
	</section>
	<section id="search-form" class="section">
		<h1 class="hidden">검색폼</h1>
		<div class="search-input-box">
			<h2 class="hidden">검색인풋</h2>
			<input type="text" class="search-input" name="value">
			<img class="search-button" src="/images/common/search-button.svg" />
		</div>
		<div class="search-condition-box hidden">
			<div class="search-condition-item">
				<h2 class="hidden">필드</h2>
				<ul>
					<li data-value="name" class="active">이름</li>
					<li data-value="content">내용</li>
					<li data-value="tag">태그</li>
					<li data-value="nickname">닉네임</li>
				</ul>
			</div>
			<div class="search-condition-category">
				<h2 class="hidden">카테고리</h2>
				<select name="category" class="select s-normal">
					<option value="99">-전체-</option>
					<% for(let i = 0; i<category.length; i++){%>
						<option value="<%=category[i].id%>"><%=category[i].value%></option>
					<%}%>
				</select>
			</div>
		</div>
	</section>
	<main id="main" class="section">
		<h1 class="hidden">메인 컨텐츠</h1>
		<section id="saying-list">
			<!-- <h2 class="hidden">명언 리스트</h2>
			<article class="saying-box">
				<div class="saying-background">
					<div class="account-info">
						<img class="account-image" src="/images/common/account_circle.svg" />
						<span class="saying-name">Seongcheol Hong</span>
					</div>
					<div class="saying-content-box">
						<p class="saying-content"> 행복은 멀리 있는게 아니다. 바로 옆을 바라봐라. 그것이 행복이다.
						</p>
					</div>
					<div class="tag-box">
						<ul class="tag-list">
							<li><span class="tag">#안녕</span></li>
							<li><span class="tag">#ㅁㅁㅁ</span></li>
							<li><span class="tag">#ㅁㅁ</span></li>
							<li><span class="tag">#안녕요</span></li>
							<li><span class="tag">#안녕세요</span></li>
						</ul>
					</div>
					<div class="saying-writer">
						<span>고슴도치가시</span>
					</div>
				</div>
				<div class="saying-menu-box">
					<div class="saying-menu-left">
						<img src="/images/common/empty-like.svg" />
						<img src="/images/common/chat.svg" class="chat" />
						<img src="/images/common/empty-bookmark.svg" />
					</div>
					<div class="saying-menu-right">
						<span>2019-01-24</span>
					</div>
				</div>
				<div class="saying-like-box">
					<span>좋아요 457개</span>
				</div>
				<div class="saying-reply-list">
					<div class="saying-reply-box">
						<span class="reply-nickname">고슴도치가시</span>
						<span class="reply-content">오 명언 지렸습니다.</span>
					</div>
					<div class="saying-reply-box">
						<span class="reply-nickname">닉네임</span>
						<span class="reply-content">fdfdfdf</span>
					</div>
				</div>
				<div class="saying-reply-count">
					<span>댓글 20개</span>
				</div>
			</article> -->
		</section>
	</main>
	<% include ./include/footer.ejs %>



	<!-- aside로 묶는다. -->
	<section id="reply-box">
		<aside id="reply-info">
			<section class="reply-top-menu">
				<div class="reply-menu-left">
					<span class="reply-title">댓글</span>
				</div>
				<div class="reply-cancel">
					<img src="/images/common/cancel-button.svg" />
				</div>
			</section>

			<section class="reply-content-list">
		
				<!-- <div class="reply-detail-box editable">
					<div class="reply-account-image">
						<img src="/images/common/account_circle.svg" />
					</div>
					<div class="reply-content-box">
						<span class="reply-detail-nickname">고슴도치가시</span>
						<div contentEditable="true" class="reply-detail-content editable"  placeholder="댓글 등록은 마지막에 *** 을 입력해 주세요."></div>
					</div>
				</div>


				<div class="reply-detail-box">
					<div class="reply-account-image">
						<img src="/images/common/account_circle.svg" />
					</div>
					<div class="reply-content-box">
						<span class="reply-detail-nickname">고슴도치가시</span>
						<span class="reply-detail-content">역시 고슴도치가시님 짱입니다. 존경해요 으흫흐흐흐흐흐ㅡ흐흐흐흐</span>
						<br />
						<span class="reply-detail-date">2019-01-24</span>
					</div>
				</div> -->

			</section>


		</aside>
	</section>
	


</body>
</html>