/*----------header-----------*/
#reply-box {
    
}

#reply-box:after {
    display: block;
    position: fixed;
    z-index: 9;
    background : #000000;
    top: 0px;   
    right: 0px;
    width: 100%; 
    height: 0%; /*장막을 위로 올린다.*/ 
    content: "";
    opacity: 0; 
    /* transition : 500ms opacity ease; */
}


#reply-box #reply-info {
    /*가상클래쓰를 쓰기 위해 header에 클래스를 둔다. 형제로 가즈아*/
    position: fixed;
    top: 0px;
    left: -100%;
    width: 100%;
    height: 100%; 
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    /* background: #585858; */
    z-index: 10;
    display: block;
    /* transition : 500ms left ease; */
    padding: 2rem 1.5rem 0rem 1.5rem;
}

#reply-box.menu-show #reply-info {
    left: 0%;
}

#reply-box.menu-show:after {
    background-color: #ffffff;
    opacity: 0.9; 
    height: 100%;
}


#reply-box #reply-info .reply-top-menu {
    position: relative;
}

#reply-box #reply-info .reply-top-menu .reply-menu-left {
    position: absolute;
    top: 0;
    left: 0;
}

#reply-box #reply-info .reply-top-menu .reply-title {
    font-size: 1.7rem;
    font-weight: 500;
}

#reply-box #reply-info .reply-top-menu .reply-cancel {
    
    position: absolute;
    top: 0;
    right: 0;
}

#reply-box #reply-info .reply-cancel img{
    width: 40px;
    height: 40px;
}

#reply-box #reply-info .reply-content-list{
    margin-top: 70px;
    margin-bottom: 40px;
}

#reply-box #reply-info .reply-content-list .reply-detail-box{
    margin-top: 5px;
}

#reply-box #reply-info .reply-content-list .reply-detail-box.editable{
    /* border: 1px solid rgb(180, 177, 177); */
    margin-bottom: 20px;
    
}

#reply-box #reply-info .reply-content-list .reply-detail-box .reply-account-image{
    display: inline-block;
    vertical-align: top;
    margin-right: 3px;
    text-align: center;
}

#reply-box #reply-info .reply-content-list .reply-detail-box img{
	width:32px;
    height:32px;
    border-radius: 16px;
    object-fit: cover;
}

#reply-box #reply-info .reply-content-list .reply-detail-box .reply-content-box{
    display: inline-block;
    width: 88%;
    line-height: 1.2rem;
}

#reply-box #reply-info .reply-content-list .reply-detail-box .reply-content-box .reply-delete img{
    width: 23px;
    height: 23px;
    vertical-align: middle;
    cursor: pointer;
}

#reply-box #reply-info .reply-content-list .reply-detail-box .reply-content-box .reply-detail-nickname{
    font-size: 0.9rem;
    font-weight: 700;
    display: inline;
}

#reply-box #reply-info .reply-content-list .reply-detail-box .reply-content-box .reply-detail-content{
    font-size: 0.9rem;
    font-weight: 400;
    white-space:normal;
    word-break:break-all;
}



#reply-box #reply-info .reply-content-list .reply-detail-box .reply-content-box .reply-detail-content.editable{
    margin-top: 2px;
    font-size: 0.9rem;
    font-weight: 400;
    display: block;
    border-bottom: 1px solid rgb(180, 177, 177);
}


#reply-box #reply-info .reply-content-list .reply-detail-box .reply-content-box .reply-detail-content.editable:focus{
    outline: none;
}

#reply-box #reply-info .reply-content-list .reply-detail-box .reply-content-box .reply-detail-content.editable:empty:before{
    margin-top: 2px;
    content: "댓글 등록은 마지막에 *** 을 입력해 주세요.";
    display: block;
    color: gray;
}


#reply-box #reply-info .reply-content-list .reply-detail-box .reply-content-box .reply-detail-date{
    font-size: 0.7rem;
    font-weight: 500;
}


/*-----검색폼-----*/
#search-form {

}

#search-form .search-input-box{
    position: relative;
}

#search-form .search-input-box .search-input{
    background-color: #f1f3f4;
    border-radius: 10px;
    width: 100%;
    height: 35px;
    padding: 0 8px;
    font-weight: 400;
}

#search-form .search-input-box img{
    position: absolute;
    right: 0;
    top: 2px;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    cursor: pointer;
}

#search-form .search-input-box .search-input:hover{
    background-color: #e8eaed;
}


#search-form .search-condition-box{
    
}

#search-form .search-condition-box .search-condition-item{
    margin-top: 7px;
}

#search-form .search-condition-box .search-condition-item ul{
    text-align: center;
}

#search-form .search-condition-box .search-condition-item li{
    display: inline-block;
    /* border-right: 1px solid black; */
    width: 24%;
    border: 1px solid #c9c9c9;
    height: 28px;
    border-radius: 9px;
    font-weight: 300;
    cursor: pointer;
}

#search-form .search-condition-box .search-condition-item li.active{
    background-color: #585858;
    color: #ffffff !important;
}


#filter-form {
}


#filter-form .filter-button-box {
    cursor: pointer;
    position: relative;
}

#filter-form .filter-button-box img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    cursor: pointer;
}

#filter-form .filter-button-box span {
    font-weight: 500;
    font-size: 18px;
    vertical-align: top;
}

#filter-form .filter-button-box .arrow-box {
    position: absolute;
    top: 0;
    right: 0;
}

#filter-form .filter-button-box .arrow-box img{
    width: 25px;
    height: 25px;
}

#filter-form .filter-icon-box{
    margin-top: 10px;
    
}

#filter-form .filter-icon-box ul li{
    display: inline-block;
    margin-right: 5px;
    width: 50px;
    cursor: pointer;
}

#filter-form .filter-icon-box .sort-icon{
    vertical-align: middle;
    width: 30px;
}

#filter-form .filter-icon-box .sort-arrow{
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin-left: -5px;

}