<!DOCTYPE html>
<html>
<head>  
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<link rel="stylesheet" href="/css/common.css">
<script src="/js/common.js"></script>
<title>띵언</title>
</head>
<body>
	<% include ../include/header.ejs %>
	<section class="section">
		<h1 class="hidden">인사말</h1>
		<p class="f-sub-title">고민게시판</p>
	</section>
	<main id="main" class="section">
		<h1 class="hidden">메인 컨텐츠</h1>
	</main>
	<% include ../include/footer.ejs %>
</body>
</html>